# Docs
#.cursor
*.log
*.sqlite
__pycache__/
.env
.venv/
.DS_Store
node_modules
dataflows/data_cache/
tradingagents/dataflows/data_cache/
tradingagents/memory/chroma/
.python-version
.cache/
tradingagents.egg-info/
.idea
tradingagents-fe/dist/
